<h1>Level Up Those Skills</h1>

<form action="/skills/<%= @skill.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input id="skill-name" type='text' name='skill[name]' value="<%= @skill.name %>" /><br/>
  <textarea id="skill-status" name='skill[status]'><%= @skill.status %></textarea><br/>
  <input id="update skill" type='submit'/>
</form>
