<h1>Level Up Those Skills</h1>

<form action="/skills/<%= @skill.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type='text' name='skill[name]' value="<%= @skill.name %>" /><br/>
  <textarea name='skill[status]'><%= @skill.status %></textarea><br/>
  <input type='submit'/>
</form>
