<div class='container-fluid'>
  <% @skills.each do |skill| %>
  <div class='well'>
    <h3><a href="/skills/<%= skill.id %>"><%= skill.name %></a></h3>
  <a id="edit" href="/skills/<%= skill.id %>/edit">Edit</a>
    <form action="/skills/<%= skill.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type='submit' value="delete">
    </form>
  </div>
  <% end %>

  <button type='button' class='btn btn-warning btn-lg btn-block'><a href="/skills/new">Add Skill</a></button>
</div >
