<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <link rel='stylesheet' href="/css/bootstrap.css"
  <title>Skill Inventory</title>
</head>
<body>
  <h1>I have a +1 in Sinatra!</h1>
  <%= yield %>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='js/bootstrap.js'></script>
</body>
</html>
