<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <link rel='stylesheet' href="/css/bootstrap.css">
  <title>Skill Inventory</title>
</head>
<body>
  <header>
    <%= erb :show_nav %>

    <h3 id="banner">Building Skills and Adding New Ones</h3>

  </header>
  <section>
    <%= yield %>
  </section>
    <footer>
      <div class="container-fluid">
        <%= erb :footer %>
      </div>
    </footer>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='js/bootstrap.js'></script>
</body>
</html>
